* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroundMain: #fff;
}

.daysCard {
    width: 12rem;
}

.daysForecast {
    list-style: none;
    display: inline-block;
}

.daysForecast li {
    display: inline-block;
}